<header class="header">
	<div class="heading-container header-content">
		<a href="/" class="logo">
			<img src="/images/logo.svg" alt="Access Granted Logo" />
			<h1>Access Granted</h1>
		</a>
		<nav class="nav-menu">
			<% if (typeof user !== 'undefined' && user) { %>
				<h2 class="welcome-text">Hi, <%= user.first_name %>!</h2>
				<a href="/message/new" class="button">Post Message</a>
				<a href="/logout">Logout</a>
			<% } else { %>
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
				<a href="/features">Features</a>
				<a href="/about">About</a>
			<% } %>
		</nav>
	</div>
</header>
