<header class="header">
	<div class="heading-container header-content">
		<a href="/">
			<div class="logo-title header-title">
				<img src="/images/logo.svg" alt="Access Granted logo" class="logo-icon" />
				<h1>Access Granted</h1>
			</div>
		</a>
		<nav>
			<% if (typeof user !== 'undefined' && user) { %>
				<h2>Welcome, <%= user.first_name %>!</h2>
				<div class="user-info">
					<a href="/message/new" class="new-post-btn">Post Message</a>
					<a href="/logout">Logout</a>
				</div>
				<% } else { %>
				<a href="/login">Login</a>
				<a href="/signup">Sign Up</a>
				<a href="/features">Features</a>
				<a href="/about">About</a>
			<% } %>
		</nav>
	</div>
</header>