<div class="user-form">
	<div class="center-text spacer">
		<h1>Become an Admin</h1>
		<p>Enter the correct passcode to become an admin.</p>
	</div>
	<% if (errors.length > 0) { %>
		<ul class="errors">
			<% errors.forEach(error => { %>
				<li><%= error %></li>
			<% }) %>
		</ul>
	<% } %>
	<form method="POST" action="/admin">
		<input type="password" name="admincode" placeholder="Admin Passcode" required />
		<button type="submit">Promote</button>
	</form>
</div>
