<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Become Admin | Access Granted</title>
	</head>
	<body>
		<%- include("partials/header") %>
		<main>
			<div class="container">
				<div class="user-form">
					<h1 class="center-text">Become an Admin</h1>
					<% if (errors.length > 0) { %>
						<ul class="errors">
							<% errors.forEach(error => { %>
								<li><%= error %></li>
							<% }) %>
						</ul>
					<% } %>
					<form method="POST" action="/admin">
						<label>Admin Passcode</label>
						<input type="password" name="admincode" required />
						<button type="submit">Promote</button>
					</form>
				</div>
			</div>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
