<div class="user-form">
	<div class="center-text spacer">
		<h1>Join the Club</h1>
		<p>Enter the correct passcode to join Access Granted.</p>
	</div>
	<% if (errors.length > 0) { %>
		<ul class="errors">
			<% errors.forEach(error => { %>
				<li><%= error %></li>
			<% }) %>
		</ul>
	<% } %>
	<form method="POST" action="/join">
		<input type="password" name="passcode" placeholder="Secret Passcode" required />
		<button type="submit">Join</button>
	</form>
</div>