<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css">
		<link rel="icon" href="/images/logo.svg" type="image/svg+xml">
		<title><%= title || "Access Granted" %></title>
	</head>
	<body>
		<%- include("partials/header", { user }) %>
		<main class="container">
			<%- body %>
		</main>
		<%- include("partials/footer") %>
		<script src="/js/main.js" defer></script>
	</body>
</html>
