<div class="user-form">
	<h1 class="center-text">Login</h1>
	<% if (errors && errors.length > 0) { %>
		<ul class="errors">
			<% errors.forEach(error => { %>
			<li><%= error %></li>
			<% }) %>
		</ul>
	<% } %>
	<form method="POST" action="/login">
		<input type="email" name="username" placeholder="Email Address" required />
		<input type="password" name="password" placeholder="Password" required />
		<button type="submit">Login</button>
	</form>
	<hr class="divider">
	<p class="center-text">Don’t have an account? <a href="/signup">Sign Up</a></p>
</div>
