<div class="user-form">
	<h1 class="center-text">Post a New Message</h1>
	<% if (errors.length > 0) { %>
		<ul class="errors">
			<% errors.forEach(error => { %>
				<li><%= error %></li>
			<% }) %>
		</ul>
	<% } %>
	<form method="POST" action="/message/new">
		<input type="text" name="title" placeholder="Post title" required />
		<textarea name="text" placeholder="Your message..." required></textarea>
		<button type="submit">Post Message</button>
	</form>
</div>
