<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css" />
		<title>404 | Access Granted</title>
	</head>
	<body>
		<%- include("partials/header") %>
		<main class="container not-found">
			<h1>404 - Page Not Found</h1>
			<p>Oops! The page you’re looking for doesn’t exist or has been moved.</p>
			<a href="/" class="button">Go back home</a>
		</main>
		<%- include("partials/footer") %>
	</body>
</html>
