<div class="not-found">
	<img class="error-img" src="/images/404.svg" alt="404 Error Image">
	<h1>404 - Page Not Found</h1>
	<p>Oops! The page you’re looking for doesn’t exist or has been moved.</p>
	<a href="/" class="button">Go back home</a>
</div>
