<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/style.css" />
		<title>FAQ | Access Granted</title>
	</head>
	<body>
		<%- include("../partials/header") %>
		<main class="container">
			<div class="page-content">
				<h1 class="center-text">Frequently Asked Questions</h1>
				<h2>What is Access Granted?</h2>
				<p>A private members-only platform for anonymous posting and discussion.</p>
				<h2>How do I join?</h2>
				<p>First, sign up. Then use the secret passcode on the Join page to become a member.</p>
				<h2>Can I delete messages?</h2>
				<p>Only admin users have the ability to delete messages to ensure community safety.</p>
				<h2>Is this a real service?</h2>
				<p>Access Granted is a demo project built for educational purposes. But the features are very real!</p>
			</div>
		</main>
		<%- include("../partials/footer") %>
	</body>
</html>
