<div class="page-content">
	<h1 class="center-text">Frequently Asked Questions</h1>
	<h2>What is Access Granted?</h2>
	<p>A private members-only platform for anonymous posting and discussion.</p>
	<h2>How do I join?</h2>
	<p>First, sign up. Then use the secret passcode on the Join page to become a member.</p>
	<h2>Can I delete messages?</h2>
	<p>Only admin users have the ability to delete messages to ensure community safety.</p>
	<h2>Is this a real service?</h2>
	<p>Access Granted is a demo project built for educational purposes. But the features are very real!</p>
</div>
