<div class="page-content">
	<h1 class="center-text">Features</h1>
	<div class="features">
		<div class="feature">
		<div class="feature">
			<h2>Anonymous Posts</h2>
			<p>Only viewers with accounts can see the authors of posts, a membership feature.</p>
		<div class="feature">
			<h2>Membership Passcode</h2>
			<p>Prevent random access by protecting unauthorized entry with a secret passcode.</p>
		</div>
		<div class="feature">
			<h2>Admin Controls</h2>
			<p>Site admins can moderate messages and remove inappropriate posts.</p>
		</div>
	</div>
</div>
